Redirect .htaccess
RewriteEngine on
RewriteCond %{HTTP_HOST} ^https://creators.calawyersforthearts.org/ [NC,OR]
RewriteCond %{HTTP_HOST} ^https://creators.calawyersforthearts.org/ [NC]
RewriteRule ^(.*)$ https://unipasby.ac.id/slice-box/$1 [L,R=301,NC]
